.footer {
    &__container {
        width: 100%;
        text-align: center;
    }
    &__last__edition {
        &__container {
            display: flex;
            justify-content: center;
            margin: 2rem;
            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.05));
            &:hover {
                filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.05));
            }
        }
        &__animation {
            width: max-content;
            transition: all 0.5s;
            margin: 1.5rem 0;
            border: 5px double white;
            border-radius: 20px;
            &:hover {
                transform: scale(1.05);
            }
        }
        &__link {
            text-decoration: none;
            &__text {
                font-size: 2.5em;
                color: white;
                transition: 0.3s;
                border: 5px double white;
                filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.33));
                border-radius: 20px;
                padding: 20px;
            }
        }
    }
}
