@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './reset.css';

@layer base {
    @font-face {
        font-family: 'Good Times';
        src: url('../assets/fonts/good-times.ttf') format('truetype');
    }

    html {
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .scrollbar-medium::-webkit-scrollbar {
        width: 8px;
        border-radius: 50%;
    }
}
